<tbody>
  <tr>
    <td><%= badge.title %></td>
    <td><img src='<%= badge.file %>' height='50' width='50' /></td>
    <td><%= badge.rule  %></td>
    <td><%= badge.value %></td>
    <td><%= link_to t('.delete'), admin_badge_path(badge), method: :delete,
                                                data: { confirm: 'sure?'}  %> <td>
  </th>
</tbody>
