<div class='form-badge'>
  <h2>Create Badge<h2>

  <%= form_with model: [:admin, @badge] do |f| %>
  <%= render 'shared/errors', object: @badge %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'input' %>
    </p>

    <p>
      <%= f.label :file %>
      <%= f.text_field :file, class: 'input file' %>
    </p>

    <p>
      <%= f.label :rule %>:
      <%= f.select :rule, Badge.rules.keys %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <p><%= link_to 'back', :back %></p>
</div>

