<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p><%= t('.answers', count: @test_passage.correct_questions, questions: @test_passage.test.questions.count) %> </p>

<% if @test_passage.success? %>
  <p class='success'><%= t('.result', number: @test_passage.test_result) %> - <%= t('.successfull') %></p>
<% else %>
  <p class='not_succes'><%= t('.result', number: @test_passage.test_result) %> - <%= t('.notsuccesfull') %></p>
<% end %>
<p><%= link_to t('.message_to_admin'), new_message_path %></p>
<p><%= link_to t('.tests'), tests_path %></p>
<p><%= link_to t('.badges'), badges_path %></p>
<p><%= link_to t('.my_badges'), "/users/#{current_user.id}/badges" %></p>

