<tbody>
  <tr>
    <td><%= frontender.title %></td>
    <td><img src='<%= frontender.file %>' height='50' width='50' /></td>
    <td><%= frontender.rules %></td>
    <td><%= frontender.type %></td>
    <%# <td><%= link_to 'delete', admin_badge_path(badge), method: :delete,
                                                data: { confirm: 'sure?'}  %> <td>

  </th>
</tbody>

