<h3>Question</h3>

<h4><%= @answer.question.body %></h4>

<p>
  <b>Answer:</b>
  <%= @answer.body %>
</p>
<p>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>

<p><%= link_to 'Back', admin_question_path(@answer.question)%></p>
<p><%= link_to 'Delete answer', admin_answer_path,
                                method: :delete,
                                data: { confirm: 'sure?' }
                                %></p>
