<%= form_with model: [:admin, @test, @question] do |form| %>
    <p><%= form.label :body %></p>
    <p><%= form.text_field :body %></p>
    <p><%= form.submit %></p>
<% end %>
<div><%= link_to 'Back', test_path(@test) %></div>
