<h3><%= @question.body %></h3>

<h5>Answers:</h5>

<p><%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %></p>

<ol>
  <%= render @question.answers%>
</ol>
<p>
  <%= link_to t('.edit'), edit_admin_question_path(@question)%> |
  <%= link_to t('.all_questions'), admin_test_path(@question.test)%>
</p>
<div><%= link_to t('.delete'), admin_question_path,
                            method: :delete,
                            data: { confirm: t('.sure') }
                            %> </div>
