<h2>Tests</h2>

<table>
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.questions') %></th>
    <th colspan= 2><%= t('.action') %></th>
  </tr>
  <%= render @tests %>
</table>
<br>
<div><%= link_to t('.new'), new_admin_test_path %></div>
<div><%= link_to 'Gists', admin_gists_path %></div>
