<h3><%= @test.title%></h3>
<table>
  <tr>
    <th><%= t('.questions') %><th>
    <th></th>
  </tr>
  <%= render @test.questions %>
</table>
<p><%= link_to t('.new_question'), new_admin_test_question_path(@test) %></p>
<p><%= link_to t('.back'), admin_tests_path %></p>
<div><%= link_to t('.delete'),  admin_test_path(@test),
                                method: :delete,
                                data: { confirm: 'Sure?' }
                                %></div>
