<div class="container text-center">
    <table class='table'>
      <tr>
        <div class='row'>
          <td class='col-7 sort-by-title pointer'>
            <%= t('.name') %>
            <%= octicon 'arrow-up', class: 'text-success-up   ' %>
            <%= octicon 'arrow-down', class: 'text-success-down  ' %>
          </td>
          <td class='col-2'>Category</td>
          <td class='col-2'><%= t('.questions')%></td>
          <td class='col-2'><%= t('.time')%></td>
          <td class='col-2'><%= t('.level')%></td>
          <td class='col-3'><%= t('.action')%></td>
        </div>
      </tr>
      <%= render @tests %>
    </table>
</div>
<p><%= link_to t('.message_to_admin'),  new_message_path %></p>
<p><%= link_to t('.badges'), badges_path %></p>
<p><%= link_to t('.my_badges'), "/users/#{current_user.id}/badges" %></p>





